.hg-30{
    height: 30px;
}
.hg-30{
    height: 30px;
}
.header-info{
    background-color: blueviolet;

}
.header-nav{
    background-color: brown;
}
.banner{
    background-color:#ff3;
     height: 600px;
}

@media(min-width:576px){
    .banner{
        height: 500px;
    }
}
@media(min-width:992px){
    .banner{
        height: 600px;
    }
}